{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="author__profile">

  {% if author.avatar %}
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name" itemprop="name">Cheuk Tung Yiu<br><span class="author__name-alias">(Shadow)</span></h3>
    {% if author.title %}<p class="author__title">{{ author.title }}</p>{% endif %}
    {% if author.employer %}
      <p class="author__employer">{{ author.employer | remove: ", Singapore" }}</p>
    {% endif %}
    {% if author.location %}
      <p class="author__location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ author.location | remove: "🇸🇬 " | remove: "🇸🇬" }}</p>
    {% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Contact</button>
    <ul class="author__urls social-icons">
      <li>
        <a href="mailto:yiuc0001@e.ntu.edu.sg" aria-label="Email">
          <i class="fas fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/shadowyiu" aria-label="LinkedIn">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://x.com/shadowyiu0928" target="_blank" rel="noopener noreferrer" aria-label="X">
          <i class="fab fa-x-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
